// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$default-color:#071251 ;
$second-color: #4634ff;
$third-color: #695df059;
$white-text: #ffff;