@import "variables";

// Bootstrap

#form_user_upsert form{
    background-color: #ffffff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    padding: 15px;
}
#form_user_upsert h4{
    font-size: 16px;
    margin-bottom: 30px;
}
#form_user_upsert form{
    padding: 25px;
}
.row-input{
    margin-bottom: 10px;
}
.search-input{
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    min-width: 215px;

}
.search-btn{
    border-top-left-radius: 0 ;
    border-bottom-left-radius: 0 ;
}