// Fonts
@import url("https://fonts.bunny.net/css?family=Nunito");
// @import url("https://fonts.googleapis.com/css2?family=Kristi&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kristi&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Satisfy&display=swap");
// Variables
@import "variables";

// Bootstrap
@import "bootstrap/scss/bootstrap";

body {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    margin: 0 !important;
    font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    color: #34495e;
    margin: 0;
    line-height: 1.4;
}
#app {
    width: 100%;
    padding: 0;
}
.background-default {
    background-color: $default-color;
    color: $white-text;
}
.white-text {
    color: $white-text !important;
}
img {
    width: 100%;
    height: 100%;
}
.logo-text {
    line-height: 70px;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}

a {
    text-decoration: none;
}
ul {
    padding: 0;
    margin: 0;
}
ul li {
    list-style-type: none;
}
.body-wrap {
    margin-left: 250px;
}
main {
    padding: 0 30px;
}
.required::after {
    content: "*";
    color: #dc3545 !important;
    margin-left: 4px;
}
form {
    // width: 75% ;
    margin: 0 auto;
}
input.form-control,
select.form-select,
.form-custom {
    height: 45px;
    padding: 10px 20px;
}
input:not([type="radio"]),
input:not([type="checkbox"]),
textarea {
    // padding: 10px 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: #fff !important;
    border: 1px solid #ced4da;
}
.form-control:focus,
.form-control:active,
.form-control:visited,
.form-control:focus-within,
input:focus,
input:active,
input:visited,
input:focus-within,
textarea:focus,
textarea:active,
textarea:visited,
textarea:focus-within,
select:focus,
select:active,
select:visited,
select:focus-within,
textarea:focus-visible,
.form-custom {
    border-color: #4634ff !important;
    box-shadow: 0 3px 9px rgba(50, 50, 9, 0.05),
        3px 4px 8px rgba(115, 103, 240, 0.1) !important;
}
textarea:focus-visible {
    outline: none;
}
label.form-label {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}
#show_img img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 20px 0;
}
.table {
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.table thead th {
    font-weight: 400;
    padding-left: 25px !important;
    padding-right: 25px !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    border: none;
    color: #ffffff;
    background-color: #4634ff;
}
.table tbody tr td {
    padding: 15px 25px;
    font-size: 14px;
    font-weight: 500;
    vertical-align: middle;
    color: #5b6e88;
}
.pagination-wrap {
    width: fit-content;
    margin-left: auto;
    margin-top: 35px;
}
.avt_user {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding-left: 15px;
}
.list-task-comment{
    height: 375px;
    overflow-y: auto;
}
.avt_user img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
.avt_user span {
    padding: 15px 0px;
    font-size: 14px;
    font-weight: 500;
    vertical-align: middle;
    color: #5b6e88;
}
.list-status-body {
    display: flex;
    margin-top: 10px;
}
.list-status-header svg {
    width: 20px;
    height: 20px;
}

.task-status-item {
    padding: 0px 20px;
    border-right: 1px solid #5b6e88;
    font-size: 16px;
}
.task-status-item:first-child {
    padding-left: 0;
}
.task-status-item:last-child {
    border-right: 0px solid #5b6e88;
}
.task-status-item span {
    font-weight: 600;
    margin-right: 15px;
    font-size: 22px;
}
.list-task-status {
    margin-top: 15px;
}
.update-task-status {
    color: #3b82f6;
    border: 1px solid #b1cdfb;
    background: #f7faff;
    padding: 5px;
    border-radius: 8px;
}
.update-task-status:focus-visible {
    outline: 0;
}
.message-status {
    top: 20%;
    position: fixed;
    right: 0;
    padding: 20px;
    background-color: #c0ffb9;
    color: #0faf2b;
    font-weight: 700;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 9999999;
    transform: translate(100%);
    transition: 0.5s;
}
.active-message-status {
    transform: translate(0%);
}
.open-task-model {
    cursor: pointer;
}

.message-report,
.message-confirm,
.message-progess {
    top: 20%;
    position: fixed;
    right: 0;
    padding: 20px;
    background-color: #c0ffb9;
    color: #0faf2b;
    font-weight: 700;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 9999;
    transform: translate(100%);
    transition: 0.5s;
}
.active-message-report,
.active-message-confirm,
.active-message-progess {
    transform: translate(0%);
    background-color: #c0ffb9;
    color: #0faf2b;
    display: block !important;
}
.false-message-report {
    transform: translate(0%);
    background-color: rgb(255, 0, 0);
    color: #ffffff;
    display: block !important;

}
.modal-body {
    padding-top: 0;
}
a {
    text-decoration: none;
}
.task-body-item-label {
    display: flex;
    align-items: baseline;
    gap: 7px;
}
.task-body-item-label p {
    margin-bottom: 0;
    font-size: 15px;
    color: #939393;
}
.task-body-item-label i {
    color: #939393;
}
.sub-task-body-item {
    display: flex;
    align-items: baseline;
    gap: 12px;
    margin-bottom: 15px;
}
.task-status span {
    color: #64748b;
    border: 1px solid #c1c7d1;
    background: #f9fafb;
    padding: 3px 7px;
    border-radius: 10px;
    font-size: 12px;
}
.task-header {
    display: flex;
    gap: 10px;
    align-items: baseline;
}
.modal-dialog {
    max-width: 900px;
}
.task-header {
    display: flex;
    gap: 10px;
    align-items: baseline;
}
.sub-task-col {
    background-color: #ededed;
    padding-right: 0;
    padding-top: 20px;
    padding-bottom: 50px;
}
.modal-title {
    font-size: 20px;
    font-weight: 600;
}
.sub-task-body {
    margin-top: 20px;
}
.assigness-wrap {
    margin-top: 40px;
}
.people-label {
    align-items: baseline;
    gap: 10px;
}
.people-imgs {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.people-imgs img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}
.task-btn-group,
.task-description-wrap {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #d2d2d2;
    display: flex;
    align-items: baseline;
}
.task-description-title span,
.task-content-title span,
.task-proccess-title span {
    font-size: 16px;
    font-weight: 500;
}
#unread_notification {
    position: absolute;
    top: -8px;
    right: -8px;

    background-color: red;
    font-size: 14px;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
#notification {
    margin-right: 20px;
    position: relative;
    margin-top: 8px;
}
.dropdown-noti-wrap {
}
.task-process-item {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
.process-action {
    display: flex;
    gap: 10px;
    align-items: center;
}
.plus-process,
.minus-process {
    cursor: pointer;
}

.process-detail {
    font-size: 16px;
}
.task-proccess-wrap {
    position: relative;
}
.task-total {
    position: absolute;
    top: 0px;
    right: 0px;
}
.user-complete {
    margin-left: 35px;
    font-size: 13px;
    font-style: italic;
    color: #979797;
}
.modal-title p {
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 0;
    color: #979797;
}
.task-inprocess-wrap {
    display: flex;
    justify-content: space-between;
}
.overview-task-col {
    padding: 30px 25px;
    background-color: #fff;
    flex: 0 0 1;
    width: 31.4%;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.task-user-total {
    font-weight: 600;
    text-transform: uppercase;
}
// .table-hidden{
//     height: 200px;
//     overflow: hidden;
// }
.overview-task-body table {
    box-shadow: none !important;
}
.overview-task-body .list_user_body {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.overview-task-body .table tbody tr td {
    background-color: #fff;
}
.overview-task-body .table thead th {
    background-color: #c6c6c6;
    width: calc(100% / 4);
}
.show-more span {
    display: block;
    font-size: 13px;
    color: #c1c7d1;
    font-style: italic;
}
.show-more {
    text-align: end;
}
.show-more a:hover {
    color: #0062ff !important;
}
.overview_information-body {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid rgb(238, 238, 238);
    margin-top: 15px;
}
.overview-task-body {
    gap: 20px;
}
.overview-information-header {
    display: flex;
    align-items: center;
    gap: 10px;
}
.overview-avatar img {
    height: 40px;
    width: 40px;

    border-radius: 50%;
    object-fit: cover;
}
.overview-name a {
    font-size: 20px;
    font-weight: 600;
    color: #34495e;
}
.overview_information-wrap {
    padding: 20px 0px;
    margin-left: 25px;
}
.overview_information-item i {
    font-size: 18px;
    color: #7c7c7c;
}
.overview_information-item {
    display: flex;
    gap: 10px;
    align-items: baseline;
    margin-bottom: 10px;
}
.overview_information-block span {
    font-weight: 600;
    // color: #939393;
}
.task-description-wrap,
.task-content-wrap {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #d2d2d2;
    display: block;
}
.avt {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}
.show_avt_name {
    position: relative;
}

.table-benefit tbody tr td p {
    margin-bottom: 0 !important;
}
.benefit-document {
    // width: 500px;
    // background-color: #f3f3f3;
    // min-height: 100px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    // padding: 10px;
    // margin-top: 20px;
    // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    // border-radius: 10px;
}
.benefits-list-title span {
    font-size: 13px;
    color: #939393;
}
.benefit-name span {
    font-size: 12px;
    color: #939393;
    font-style: italic;
}
.benefit-name p {
    font-size: 15px;
}
.department-body {
    height: 200px;
    background-image: url(../image/deparment-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}
.overlay {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 200px;
    background-color: rgba($color: #000000, $alpha: 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    opacity: 0;
    transform: translateY(100%);
}
.department-body:hover .overlay {
    transform: translateY(0%);
    opacity: 1;
}
.ceo-home .card-header {
    text-transform: uppercase;
}
.ceo-message {
    padding: 10px 30px;
    background-color: rgb(255, 29, 29);
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    width: fit-content;
    border-radius: 10px;
}
.time_log-wrap {
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    padding: 20px;
}
.time_log-header p {
    font-size: 18px;
}
.filter-item .label {
    font-size: 14px;
    margin-bottom: 8px;
}
.time_log-filter {
    padding: 26px 0px;
    border-top: 1px solid #c7c7c7;
    margin: 0 2px;
    border-bottom: 1px solid #c7c7c7;
}
.list_users-table {
    flex: 0 0 200px;
    border-right: 1px solid #c7c7c7;
}
.list_users-header {
    padding: 8px;
    font-weight: 400;
    padding-left: 25px;
    padding-right: 25px;
    border: none;
    color: #ffffff;
    background-color: #4634ff;
}
.list_users-item {
    padding: 15px 25px;
    font-weight: 500;
    font-size: 14px;
    border-bottom: 1px solid #c7c7c7;
    border-left: 1px solid #c7c7c7;
    font-size: 16px;
}
.day {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-right: 1px solid #c7c7c7 !important;
}
.avg_timelogs {
    font-size: 16px !important;
    border-right: 1px solid #c7c7c7 !important;
    text-align: center;
}
.current-user {
    background-color: #0062ff !important;
    color: #fff !important;
}
.current-date {
    background-color: #bbbab7;
    width: 200px;
    border-radius: 3px;
    padding-bottom: 5px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 5px;
    color: #fff;
    font-size: 18px;
    position: relative;
    text-align: center;
    margin: 30px 0;
}
.timekeeping-action .btn {
    margin: 10px auto;
}
#time_logs_modal .modal-dialog {
    width: 550px;
}
.time_log-history-checkin,
.time_log-history-checkout {
    width: 100%;
    text-align: center;
    padding: 15px 0;
}
.time_log-history-checkin {
    background-color: #a4eda9;
}
.time_log-history-checkout {
    background-color: #fffeb8;
    margin-top: 10px;
}
.show_time-logs {
    cursor: pointer;
}
.show_time-logs:hover {
    text-decoration: underline;
}
#date_time-logs .modal-dialog {
    max-width: 600px !important;
}
#date_time-logs .modal-body {
    padding: 20px !important;
}
.date_time_logs_detail {
    border: 1px solid #ddd;
    border-radius: 5px;
}
.border-item {
    border-bottom: 1px solid #ddd;
    padding: 12px;
}
.border-item:last-child {
    border-bottom: 1px solid #ddd;
}
.time-diary-header {
    color: #fff;
    background-color: #337ab7;
    padding: 8px;
    font-size: 14px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.diary-checkin {
    border: 1px solid #ddd;
    padding: 8px;
    border-top: 0px solid #ddd;
}
.diary-checkout {
    border: 1px solid #ddd;
    padding: 8px;
    border-top: 0px solid #ddd;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.work-hour span {
    border-bottom: 1px solid #ddd;
    padding: 12px;
}
.current-date_time {
    background-color: #247600 !important;
}
.create-user {
    display: flex;
    gap: 10px;
    align-items: center;
}
.create-user img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.task-comment-item {
    background: #e8f9ff;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 15px;
    display: flex;
    align-items: flex-start;
    min-height: 135px;
    gap: 12px;
}
.task-comment-username {
    font-size: 16px;
    font-weight: 500;
    line-height: 40px;
    position: relative;
}
.task-comment-username::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 200px;
    height: 1px;
    border: 1px #c4c4c4 dashed;
}
.task-comment-content br:first-child {
    display: none;
}
.task-comment-content {
    margin-top: 10px;
}
