// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.background-default{
    background-color: $default-color;
    color: $white-text;
}
.white-text{
    color: $white-text;

}