// Variables
@import "variables";

// Bootstrap
// @import 'bootstrap/scss/bootstrap';

#app-navbar {
    padding: 0 !important;
    height: 70px;
}
.sidebar-header {
    height: 70px;
    border-bottom: 1px solid #878787;
}
::-webkit-scrollbar {
    width: 0;
}
.sidebar-wrap {
    border-right: 1px solid #878787;
    width: 250px !important;
    border-right: 1px solid #66666675;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 999;
    transition: all 0.3s;
    padding: 0;
    overflow-y: auto;
}
.sidebar-body {
    padding-top: 15px;
}
.sidebar__link {
    padding: 10px 20px;
    display: block;
    transition: all 0.7s;
}
.sidebar__link:hover {
    background-color: $second-color;
}
.sidebar__item {
    margin-bottom: 5px;
}
.submenu__link {
    display: block;
    padding: 10px 30px;

    span {
        font-size: 12px;
        margin-left: 5px;
    }
    i {
        font-size: 10px;
    }
}
.siderbar__submenu-item:hover {
    background-color: $third-color;
}
.active-sidebar .sidebar__link {
    background-color: $second-color;
}
.siderbar__submenu {
    display: none;
}
.has-child {
    position: relative;
}
.arrow {
    border: solid rgb(255, 255, 255);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    position: absolute;
    top: 15px;
    right: 25px;
    transition: all .5s;
}
.up-arrow{
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}
